.pr-container {
  border: 1px solid #AAAAAA;
  border-radius: 3px;
  padding: 0.5em;
  display: flex;
  flex-direction: column;

  .pr-icon {
    width: 1em;
    vertical-align: middle;
    margin-right: 0.5em;
  }

  .pr-title {
    font-size: 1.25em;
    vertical-align: middle;
  }

  .repo-icon {
    vertical-align: middle;
    margin-right: 0.5em;
  }

  .repo-name {
    vertical-align: middle;
  }
}