.pr-container {
  background: #FFFFFF;
  border: 1px solid #AAAAAA;
  border-radius: 3px;
  padding: 0.75em;
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 1px 1px 0px #AAAAAA;

  .pr-author-avatar {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    margin-right: 0.5em;
    align-self: center;
  }

  .pr-main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .pr-title-container {

      fa-icon {
        margin-right: 0.25em;
      }

      .pr-title-link {
        fa-icon {
          margin-left: 0.5em;
        }

        color: #000000;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .pr-title {
        font-size: 1.25em;
      }
    }

    .pr-metadata-container {
      .repo-icon {
        margin-right: 0.25em;
      }

      .repo-name {
        a {
          color: #000000;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .pr-number {
        color: #999999;
      }

      .pr-comments {
        margin-left: 0.5em;
      }
    }

    .pr-footer {
      font-size: 0.8em;
      color: #666666;
    }
  }

  .pr-updated-at {
    align-self: center;
    background: #73A3C3;
    padding: 0.5em;
    border-radius: 10px;
    color: #FFFFFF;
    text-align: center;
    width: 11em;

    .pr-updated-at-label {
      font-size: 0.7em;
    }
  }
}
