.pr-title-container {

  fa-icon {
    margin-right: 0.25em;
  }

  .pr-title-link {
    fa-icon {
      margin-left: 0.5em;
    }

    color: #000000;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    .pr-title {
      font-size: 1.25em;
    }
  }

  .pr-base-ref {
    margin-left: 0.5em;

    .pr-branch-name {
      font-family: 'Courier New', Courier, monospace;
      background: #EEEEEE;
      padding: 0.2em;
      border-radius: 2px;
    }
  }
}
