<div class="pr-container">
  <img class="pr-author-avatar" [src]="pullRequest.author.avatarUrl">
  <div class="pr-main-content">
    <pr-header [pullRequest]="pullRequest"></pr-header>
    <div class="pr-metadata-container">
      <pr-repo-link [pullRequest]="pullRequest"></pr-repo-link>
      <pr-comment-count [pullRequest]="pullRequest"></pr-comment-count>
      <pr-participants [pullRequest]="pullRequest"></pr-participants>
    </div>
    <pr-footer [pullRequest]="pullRequest"></pr-footer>
  </div>
  <pr-updated-at [pullRequest]="pullRequest"></pr-updated-at>
</div>
