@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
  font-family: 'Open Sans', sans-serif;
  background: #CCCCCC;
  margin: 0;
}

button {
  border: 1px solid #333333;
  border-radius: 3px;
  background: transparent;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background: #333333;
    color: #FFFFFF;
  }
}
